doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/src/css/autocomplete.css")

	body

		include ./shared/header

		main.container-fluid
			div.row
				div.col-sm-4
					section.panel
						header.panel-heading
							h2.panel-title Autocomplete
						div.panel-body
							input(
								type="text",
								class="mk-ac",
								placeholder="Search for a symbol",
								name="symbol-1")
				div.col-sm-4
					section.panel
						header.panel-heading
							h2.panel-title Autocomplete (0 - 4 Selections)
						div.panel-body
							input(
								type="text",
								class="mk-ac",
								placeholder="Search for a symbol",
								name="symbol-2",
								data-limit="4")
				div.col-sm-4
					section.panel
						header.panel-heading
							h2.panel-title Autocomplete (Comma Seperate)
						div.panel-body
							input(
								type="text",
								class="mk-ac",
								placeholder="Search for a symbol",
								name="symbol-3",
								data-limit="4",
								data-comma="true")

		include ./shared/scripts
		script(type="text/javascript", src="/src/js/standard/selectmenu.js")
		script(type="text/javascript", src="/src/js/standard/autocomplete.js")
		script.

			mkNasty.transitions(true);

			var inputs = document.querySelectorAll('.mk-ac');
			var Autocomplete = mkNasty.get('Autocomplete');

			for (var i = 0; i < inputs.length; i++) {

					var autocomplete = new Autocomplete(inputs[i], {
						remote: 'http://dev.markitondemand.com/MODApis/Api/v2/Lookup/jsonp?input={{%query}}',
						type: 'jsonp'
					});

					autocomplete.on('request.success', function (q, d) {
						this.each(d, function (i, o) {
							o.label = o.Name,
							o.value = o.Symbol
						});
					});

					autocomplete.on('activate', function (node, keyboard) {
						if (keyboard) {
							this.input.val(node.attr('data-display'));
						}
					});

					autocomplete.on('change', function () {
						console.info(this.element)
						console.info('value changed!');
						console.info('selections (raw):', this.selections);
						console.info('value (base64):', this.value)
					})
			}
