
if methods
  h3 Methods
  ul.list-unstyled.list-methods
    each m in methods
      li
        h4
          em
            | instance
          span= m.invoke
        p= m.desc
        if (m.params && m.params.length)
            h5 Parameters
            ul.list-unstyled.list-params
                each p in m.params
                    li
                        dl
                            dt
                                | Name
                            dd= p.name
                        dl
                            dt
                                | Type
                            dd= p.type
                        dl
                            dt
                                | Description
                            dd= p.desc
        else
            ul.list-unstyled.list-params
                li
                    strong
                        | No params required.
